html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

main {
  max-width: 330px;
}

.g-recaptcha {
  filter: invert(.9);
}

.g-recaptcha div {
  width: auto !important;
  height: auto !important;
}