@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), url('ProductSans-Regular.woff') format('woff');
}

* {
  font-family: 'Product Sans', sans-serif;
}

:root {
  --bs-primary: #00a3f8 !important;
  --bs-success: #00aa37 !important;
  --bs-danger: #ff3139 !important;
  --bs-warning: #ff9e00 !important;
  --bs-primary-rgb: 0, 163, 248 !important;
  --bs-success-rgb: 0, 170, 55 !important;
  --bs-danger-rgb: 255, 49, 57 !important;
  --bs-warning-rgb: 255, 158, 0 !important;
}

.btn-success {
  --bs-btn-bg: #00aa37;
  --bs-btn-border-color: #00aa37;
  --bs-btn-hover-bg: #02962a;
  --bs-btn-hover-border-color: #02962a;
  --bs-btn-active-bg: #02962a;
  --bs-btn-active-border-color: #02962a;
  --bs-btn-disabled-bg: #00aa37;
  --bs-btn-disabled-border-color: #00aa37;
}

.btn-outline-success {
  --bs-btn-color: #00aa37;
  --bs-btn-border-color: #00aa37;
  --bs-btn-hover-bg: #00aa37;
  --bs-btn-hover-border-color: #00aa37;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-bg: #00aa37;
  --bs-btn-active-border-color: #00aa37;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #00aa37;
  --bs-btn-disabled-border-color: #00aa37;
}

.bg-blue {
  background-color: var(--bs-blue);
}

.text-blue {
  color: var(--bs-blue);
}

.bg-indigo {
  background-color: var(--bs-indigo);
}

.text-indigo {
  color: var(--bs-indigo);
}

.bg-yellow {
  background-color: var(--bs-yellow);
}

.text-yellow {
  color: var(--bs-yellow);
}

.bg-pink {
  background-color: var(--bs-pink);
}

.text-pink {
  color: var(--bs-pink);
}

.text-hover-primary:hover {
  color: var(--bs-primary) !important;
}

.text-hover-blue:hover {
  color: var(--bs-blue) !important;
}

.text-hover-pink:hover {
  color: var(--bs-pink) !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--bs-dark-rgb), 1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bs-light-rgb), .4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--bs-light-rgb), .8);
}

.form-control:focus,
.form-select:focus,
.btn-close:focus,
.form-check-input:focus,
.pagination:focus {
  box-shadow: none !important;
}

[data-bs-theme="dark"] .bg-light {
  --bs-bg-opacity: .1 !important;
}

[data-bs-theme="dark"] .text-light {
  --bs-text-opacity: .5 !important;
}

[data-bs-theme="dark"] .text-dark {
  --bs-text-opacity: unset !important
}

[data-bs-theme="dark"] input:-webkit-autofill,
[data-bs-theme="dark"] input:-webkit-autofill:hover,
[data-bs-theme="dark"] input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 50rem var(--bs-body-bg) inset !important;
}

[data-bs-theme="dark"] #scroll-to-top {
  color: var(--bs-light);
}

[data-bs-theme="dark"] .nav-item .text-dark {
  color: #fff !important;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  color: var(--bs-dark);
  opacity: .5;
  z-index: 99999;
}

#scroll-to-top:hover {
  opacity: 1;
}

.navbar .dropdown-menu,
#navbar-mobile .dropdown-menu {
  --bs-dropdown-min-width: 15rem !important;
  border-radius: 1rem !important;
  --bs-dropdown-padding-y: 1rem !important;
}

.dropend.dropdown-hover .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: var(--bs-dropdown-spacer);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  cursor: pointer !important;
}

.nav .nav-link:not(.active):hover {
  background-color: var(--bs-tertiary-bg);
}

.username {
  max-width: 150px;
}

.footer {
  background-image: url('https://almir.info/gwsc-assets/img/website/footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
}

#head-carousel .carousel-item {
  height: 87vh;
}

#head-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#head-carousel .carousel-caption {
  bottom: 30% !important;
}

.home-search-box {
  margin-top: -125px !important;
  display: none;
  position: relative;
  z-index: 2;
}

.availability-search {
  margin-top: -80px !important;
  position: relative;
  z-index: 2;
}

.home-search-box .nav-tabs .nav-link,
.availability-search .nav-tabs .nav-link {
  background: transparent;
  border: none;
  color: var(--bs-secondary) !important;
}

.home-search-box .nav-tabs .nav-link:hover,
.availability-search .nav-tabs .nav-link:hover {
  background: none !important;
  color: var(--bs-blue) !important;
}

.home-search-box .nav-tabs .nav-link.active,
.availability-search .nav-tabs .nav-link.active {
  background: transparent !important;
  color: var(--bs-blue) !important;
  border-bottom: 3px solid var(--bs-blue);
}

[data-bs-theme="dark"] .home-search-box .bg-white,
[data-bs-theme="dark"] .availability-search .bg-white {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.slider-container {
  position: relative;
}

.slider-container .slider-content {
  overflow-x: scroll;
  height: 50vh;
}

.slider-container .slider-content::-webkit-scrollbar {
  display: none;
}

.slider-container .slide-left,
.slider-container .slide-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.slider-container .slide-left {
  margin-left: -1rem;
}

.slider-container .slide-right {
  right: 0;
  margin-right: -1rem;
}


@media (min-width: 992px) {
  .home-search-box-lg {
    display: block;
  }

  .slider-container .slide-left,
  .slider-container .slide-right {
    display: unset;
  }
}

@media (max-width: 991.98px) {
  .home-search-box-sm {
    display: block;
  }

  .availability-search {
    display: none;
  }

  .nav-responsive {
    overflow: hidden;
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .nav-responsive::-webkit-scrollbar {
    display: none;
  }
}

.home-video-card {
  --bs-card-inner-border-radius: none;
}

.home-video-card .card-img {
  min-height: 100vh;
  object-fit: cover;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  color: #fff;
}

#features .nav .nav-link {
  color: var(--bs-secondary);
}

#features .nav .nav-link.active {
  color: var(--bs-blue);
}

#features .nav.nav-pills .nav-link.active {
  color: #fff !important;
}

.about-team .card .card-img-overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: all .3s ease-in-out;
}

.about-team .card:hover .card-img-overlay {
  opacity: 1;
}

.about-quotes {
  position: relative;
}

.about-quotes .quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -20px;
}

.about-quotes .team-img-container {
  height: 100px;
  width: 100px;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about-quotes .team-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-quotes .nav-link {
  border: 2px solid var(--bs-blue);
}

.about-quotes .nav-link.active {
  background-color: var(--bs-nav-pills-link-active-bg) !important;
}

[data-bs-theme="dark"] .about-features .bg-light {
  background-color: var(--bs-dark-bg-subtle) !important;
}

#privacy-policy h2,
#terms-of-service h2 {
  margin-top: 3rem;
}

#privacy-policy p,
#terms-of-service p,
#privacy-policy li,
#terms-of-service li {
  font-size: 1.25rem;
}

.side-menu-options:not(:has(>.vr)) {
  height: fit-content;
}

.modal-content {
  border: none !important;
}

.delete-modal .modal-footer .btn:first-of-type {
  border-bottom-left-radius: var(--bs-modal-border-radius) !important;
}

.delete-modal .modal-footer .btn:last-of-type {
  border-bottom-right-radius: var(--bs-modal-border-radius) !important;
}

.paginate_button {
  border: none !important;
}

#error {
  background-image: url('https://almir.info/gwsc-assets/img/misc/art-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#error .bg-dark {
  --bs-bg-opacity: .5 !important;
}

.file-container {
  width: 100px;
  height: 100px;
}

.site-img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.site-img-container img,
.file-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s all ease;
}

.file-container embed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-img-container:hover img {
  transform: scale(1.2);
  cursor: url('https://almir.info/gwsc-assets/img/website/zoom.svg'), auto;
}

@media (max-width: 575.98px) {
  .site-img-container {
    width: 100%;
  }
}

.site-card {
  overflow: hidden;
}

.site-card-img-box {
  overflow: hidden;
  height: 200px;
}

.site-card img {
  height: 100%;
  object-fit: cover;
  transition: .5s all ease;
}

.site-card:hover img {
  transform: scale(1.2);
}

.site-card .btn span {
  position: relative;
}

.site-card .btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: .3s all ease;
}

.site-card:hover .btn svg {
  opacity: 1;
  margin-left: .5rem;
}

.site-card .rating-tag {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 1rem;
}

.bg-backdrop {
  backdrop-filter: contrast(0.8);
  -webkit-backdrop-filter: contrast(0.8);
}

#availability-header {
  background-image: url("../img/availability/header.jpg");
  background-position: center;
  background-size: cover;
}

#features-header {
  background-image: url("../img/features/features-header.jpg");
  background-position: center;
  background-size: cover;
}

#swimming-header {
  background-image: url("https://almir.info/gwsc-assets/img/sites/swimming-header.jfif");
  background-position: center;
  background-size: cover;
}

#camping-header {
  background-image: url("../img/sites/camping-head.jpg");
  background-position: center;
  background-size: cover;
}

#reviews-header {
  background-image: url("../img/reviews/header.jpg");
  background-position: center;
  background-size: cover;
}

#local-attractions-header {
  background-image: url("https://almir.info/gwsc-assets/img/local-attractions/header.jpg");
  background-position: center;
  background-size: cover;
}

#contact-header {
  background-image: url("../img/contact/contact-header.jpg");
  background-position: center;
  background-size: cover;
}

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
}

.banner.contact {
  height: max-content !important;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-bs-theme="dark"] iframe.google-map {
  filter: invert(.9);
}

.attraction {
  height: 150px;
}

.site-feature {
  height: 250px;
}

.attraction,
.site-feature {
  overflow: hidden;
}

.attraction img,
.site-feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s all ease-in-out;
}

.attraction .bg-backdrop,
.site-feature .bg-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
}

.attraction .attraction-text,
.site-feature .site-feature-text {
  top: unset !important;
  bottom: 0 !important;
}

.attraction:hover img,
.site-feature:hover img {
  transform: scale(1.1);
}

.site-feature:hover {
  box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), .175) !important;
}

.attraction-link {
  border: 1px dashed var(--bs-body-color) !important;
}

.attraction-link .attraction-text {
  top: 0 !important;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attraction-link:hover {
  border: 1px dashed var(--bs-primary) !important;
}

.search-card {
  overflow: hidden;
}

.search-card .card-img {
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: unset;
}

@media (max-width: 991.98px) {
  .search-card .card-img {
    height: 250px;
  }
}

.search-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s all ease;
}

.search-card:hover img {
  transform: scale(1.2);
}

.search-card:hover .card-title a {
  color: var(--bs-primary) !important;
}

.search-card .rating-tag {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 1rem;
}

#rating-star-container label {
  font-size: 4vw;
}

@media (max-width: 575.98px) {
  #rating-star-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  #rating-star-container label {
    flex: 1;
    font-size: 6vw;
  }
}

.review-card {
  position: relative;
  overflow: hidden;
}

.review-card .reviewer {
  position: relative;
  width: 40px;
}

.review-card .reviewer>* {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.review-card .rating-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card .rating-title span {
  position: absolute;
  top: 59%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.review-card .card-text,
.review-card .collapse.show {
  display: inline;
}

.rating-chart .progress {
  --bs-progress-height: .6rem !important
}

#contact-form-container {
  margin-top: -200px;
  z-index: 1;
  position: relative;
}

[data-bs-theme="dark"] #contact-form-container .bg-white {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}