@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), url('ProductSans-Regular.woff') format('woff');
}

* {
  font-family: 'Product Sans', sans-serif;
}

:root {
  --bs-primary: #00a3f8 !important;
  --bs-success: #00aa37 !important;
  --bs-danger: #ff3139 !important;
  --bs-warning: #ff9e00 !important;
  --bs-primary-rgb: 0, 163, 248 !important;
  --bs-success-rgb: 0, 170, 55 !important;
  --bs-danger-rgb: 255, 49, 57 !important;
  --bs-warning-rgb: 255, 158, 0 !important;
}

.btn-success {
  --bs-btn-bg: #00aa37;
  --bs-btn-border-color: #00aa37;
  --bs-btn-hover-bg: #02962a;
  --bs-btn-hover-border-color: #02962a;
  --bs-btn-active-bg: #02962a;
  --bs-btn-active-border-color: #02962a;
  --bs-btn-disabled-bg: #00aa37;
  --bs-btn-disabled-border-color: #00aa37;
}

.btn-outline-success {
  --bs-btn-color: #00aa37;
  --bs-btn-border-color: #00aa37;
  --bs-btn-hover-bg: #00aa37;
  --bs-btn-hover-border-color: #00aa37;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-bg: #00aa37;
  --bs-btn-active-border-color: #00aa37;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #00aa37;
  --bs-btn-disabled-border-color: #00aa37;
}

.bg-blue {
  background-color: var(--bs-blue);
}

.text-blue {
  color: var(--bs-blue);
}

.text-pink {
  color: var(--bs-pink);
}

.text-hover-primary:hover {
  color: var(--bs-primary) !important;
}

.text-hover-blue:hover {
  color: var(--bs-blue) !important;
}

.text-hover-pink:hover {
  color: var(--bs-pink) !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--bs-dark-rgb), 1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bs-light-rgb), .4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--bs-light-rgb), .8);
}

.form-control:focus,
.form-select:focus,
.btn-close:focus,
.form-check-input:focus {
  box-shadow: none !important;
}

[data-bs-theme="dark"] .bg-light {
  --bs-bg-opacity: .1 !important;
}

[data-bs-theme="dark"] .text-light {
  --bs-text-opacity: .5 !important;
}

[data-bs-theme="dark"] .text-dark {
  --bs-text-opacity: unset !important
}

[data-bs-theme="dark"] input:-webkit-autofill,
[data-bs-theme="dark"] input:-webkit-autofill:hover,
[data-bs-theme="dark"] input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 50rem var(--bs-body-bg) inset;
}

[data-bs-theme="dark"] #scroll-to-top {
  color: var(--bs-light);
}

[data-bs-theme="dark"] .nav-item .text-dark {
  color: #fff !important;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  color: var(--bs-dark);
  opacity: .5;
}

#scroll-to-top:hover {
  opacity: 1;
}

.navbar .dropdown-menu,
#navbar-mobile .dropdown-menu {
  --bs-dropdown-min-width: 15rem !important;
  border-radius: 1rem !important;
  --bs-dropdown-padding-y: 1rem !important;
}

.dropend.dropdown-hover .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: var(--bs-dropdown-spacer);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  cursor: pointer !important;
}

.nav .nav-link:not(.active):hover {
  background-color: var(--bs-tertiary-bg);
}

.username {
  max-width: 150px;
}

.footer {
  background-image: url('https://almir.info/gwsc-assets/img/website/footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
}

#head-carousel .carousel-item {
  height: 87vh;
}

#head-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#head-carousel .carousel-caption {
  bottom: 30% !important;
}

.home-video-card {
  --bs-card-inner-border-radius: none;
}

.home-video-card .card-img {
  min-height: 100vh;
  object-fit: cover;
}

#privacy-policy h2,
#terms-of-service h2 {
  margin-top: 3rem;
}

#privacy-policy p,
#terms-of-service p,
#privacy-policy li,
#terms-of-service li {
  font-size: 1.25rem;
}

.side-menu-options:not(:has(>.vr)) {
  height: fit-content;
}

.modal-content {
  border: none !important;
}

.delete-modal .modal-footer .btn:first-of-type {
  border-bottom-left-radius: var(--bs-modal-border-radius) !important;
}

.delete-modal .modal-footer .btn:last-of-type {
  border-bottom-right-radius: var(--bs-modal-border-radius) !important;
}

.paginate_button {
  border: none !important;
}

#error {
  background-image: url('https://almir.info/gwsc-assets/img/misc/art-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#error .bg-dark {
  --bs-bg-opacity: .5 !important;
}

.file-container {
  width: 100px;
  height: 100px;
}

.site-img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.site-img-container img,
.file-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s all ease;
}

.file-container embed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-img-container:hover img {
  transform: scale(1.2);
  cursor: url('https://almir.info/gwsc-assets/img/website/zoom.svg'), auto;
}

@media (max-width: 575.98px) {
  .site-img-container {
    width: 100%;
  }
}

.site-card {
  overflow: hidden;
}

.site-card-img-box {
  overflow: hidden;
  height: 200px;
}

.site-card img {
  height: 100%;
  object-fit: cover;
  transition: .5s all ease;
}

.site-card:hover img {
  transform: scale(1.2);
}

.site-card .btn span {
  position: relative;
}

.site-card .btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: .3s all ease;
}

.site-card:hover .btn svg {
  opacity: 1;
  margin-left: .5rem;
}

.bg-backdrop {
  backdrop-filter: contrast(0.8);
  -webkit-backdrop-filter: contrast(0.8);
}

#swimming-header {
  background-image: url("https://almir.info/gwsc-assets/img/sites/swimming-header.jfif");
  background-position: center;
  background-size: cover;
}

#local-attractions-header {
  background-image: url("https://almir.info/gwsc-assets/img/local-attractions/header.jpg");
  background-position: center;
  background-size: cover;
}

.banner {
  height: 100vh;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}